* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#container {
  display: flex;
  background-color: gray;
  width: 90%;
  /* height: 500px; */
  margin: 0 auto;
  border: 5px solid gray;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap;     */
  /* align-content: center; */
}

#container div {
  width: 200px;
  height: 200px;
  flex-basis: 400px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

div:nth-child(1) {
  /* align-self: flex-start; */
  /* flex-grow: 1; */
  flex-shrink: 2;
}

div:nth-child(2) {
  /* align-self: flex-start; */
  /* flex-grow: 1; */
  flex-shrink: 2;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid gray;
  height: 500px;
  display: flex;
}

main .sidebar {
  background-color: blue;
  flex: 1 2 300px;
}

main .content {
  background-color: red;
  flex: 2 1 800px;
}

.smart-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
}

.smart-product .smart-product-2 {
  display: flex;
}

.smart-product .smart-product-menu {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  /* gap: 2em; */
  /* border: 5px solid blue; */
  background-color: blue;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

.smart-product .smart-product-menu a {
  text-decoration: none;
  color: white;
}

.smart-product .smart-product-menu a:hover {
  text-decoration: underline black 3px;
}

.smart-product .smart-product-card-bg {
  margin: 100px 0px 100px 0px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.smart-product .smart-product-card {
  display: flex;
  gap: 30px;
}

.smart-product .card-product {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: aqua; */
}

.smart-product .smart-product-card .card-product img {
  width: 100%;
  height: 100%;
}

.smart-product .smart-product-card div {
  width: 200px;
  height: 200px;
  /* text-align: center; */
  /* font-size: 30px;
  font-weight: bold; */
}

.smart-product .smart-product-card .product-desc {
  background-color: #2758A7;
  display: flex;
  border: 1px solid white;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 200px;
  height: 40%;
  border-radius: 0px 0px 15px 15px;
}

.smart-product .smart-product-card .product-desc a {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

.smart-product .smart-product-card .product-desc a:hover {
  text-decoration: underline black;
}

/* citiasia inc */

.citiasiainc-gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.citiasiainc-container {
  display: flex;
  align-items: center;
}

.citiasiainc-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}


.citiasiainc-word img {
  width: 100%;
  height: 20px;
}



.citiasiainc-img img {
  width: 50%;
}


/* .navbar .navbar-2 div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.navbar .div-3,.div-4 {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
} */

.banner {
  margin: 0;
  padding: 0;
  /* adjust this value to change the height of the banner */
  position: relative;
  /* establish a new context for z-index values */
}

.banner img {
  position: absolute;
  /* position the image relative to the nearest positioned ancestor (in this case, the banner) */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-size: cover; */
  background-repeat: no-repeat;
  z-index: -1;
}

.banner .container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* ensure that the container is positioned relative to its normal position */
}

.banner .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container .row .col-1 {
  display: flex;
  flex-basis: 50%;
}

.banner .container .row .col-2 {
  display: flex;
  flex-basis: 50%;
}

.banner .container .row .col-2 img {
  width: 50%;
  height: 50vh;
}